.playbackDocument {
  white-space: pre-wrap;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  min-height: 180px;
  border-radius: 6px;
  font-family: Arial;
  font-size: 14;
}

.insertHighlight {
  background-color: #9be79b;
  border-radius: 3px;
}

.deleteHighlight {
  color: #d32f2f;
  text-decoration: line-through;
  background-color: #ffd6d6;
  border-radius: 3px;
}